#feedback-canvas-container {
    width:  80%;
    height: 80%;
    margin: 0px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    border: 1px solid black;
    position:absolute;
}

nav.navbar {
    margin-bottom: 0;
}

div.alert-info {
    border-top: 0;
    border-radius: 0;
    font-size: 1.2em;
}